<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/adaptiv.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
    <title>SmallAPPS</title>
</head>
<body>
    <headder>
        <div id="head">
            <div class="logo">Smallapps</div>
            <nav id="menu">
                <ul>
                    <li><a href="body" id="gotohome">home</a></li>
                    <li><a href="#tures" class="feautures-focus">feautures</a></li>
                    <li><a href="#product-feautures">screenshot</a></li>
                    <li><a href="#gallery">gallery</a></li>
                </ul>
            </nav>
            <div class="contact-head">
                <div class="number"><i class="fa fa-phone-square" aria-hidden="true"></i> 800-123-456</div>
                <div class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i> smallapp@gmail.com</div>
            </div>
        </div>
    </headder>
</body>
</html>