<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <title>Smart APP</title>
</head>
<body>
    <headder>
        <div id="head">
            <div class="logo">Smallapps</div>
            <nav>
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">feautures</a></li>
                    <li><a href="">screenshot</a></li>
                    <li><a href="">gallery</a></li>
                </ul>
            </nav>
            <div class="contact-head">
                <div class="number"><i class="fa fa-phone-square" aria-hidden="true"></i> 800-123-456</div>
                <div class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i> smallapp@gmail.com</div>
            </div>
        </div>
    </headder>
</body>
</html>