/*------GLOBAL------*/
body,div,span,p,a,ul,li
    margin 0;
    padding 0;

.logo
    font-family ProximaNovaExtrabold;
    font-size 30px;
nav
    ul
        li
            display inline-block;
            list-style-type none;
            a
                text-decoration none;
                font-family RalewayMedium;
                font-size 14px;
                margin 0px 15px;
                color #878c8c;
                text-transform uppercase;
                font-weight 700;
.number, .mail
    font-family RalewayMedium;
    font-size 18px;
    color #3d3e43;
    margin 0 20px;
#head,.contact-head
    display flex;
    align-items center;
    justify-content space-around;
#head
    position fixed;
    top 0px;
    width 100%;
    z-index 999;
    a:hover
        color #3c3d42;
        